@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-neongreen text-primary flex items-center justify-center h-12 px-6 hover:bg-opacity-90 transition-colors duration-200 text-lg font-hybe space-x-2;
    &:disabled {
      @apply bg-black/35 cursor-not-allowed;
    }
  }

  .btn-primary-inverted {
    @apply bg-primary text-neongreen flex items-center justify-center h-12 px-6 hover:bg-opacity-90 transition-colors duration-200 text-lg font-hybe;
  }

  .input-field {
    @apply w-full p-2 border rounded focus:ring-2 focus:ring-primary focus:border-primary outline-none text-base;
  }

  .form-label {
    @apply block text-base font-medium text-gray-700 mb-1;
  }
} 

/* Font Face Declarations */
@font-face {
  font-family: 'HYBE';
  src: url('/fonts/HYBEBold.woff2') format('woff2'),
      url('/fonts/HYBEBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HYBE';
  src: url('/fonts/HYBERegular.woff2') format('woff2'),
      url('/fonts/HYBERegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Base Styles */
body {
  @apply text-base font-sans;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-hybe;
}

/* Hide number input arrows */
[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Personal Information field styles */
.form-label {
  @apply block text-base font-medium text-gray-700 mb-2;
}

.input-field {
  @apply w-full h-14 px-4 py-2 border-2 border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-black focus:border-transparent;
}

/* Datepicker customization */
:root {
  --adp-width: 100%;
  --adp-day-cell-height: auto !important;
}

/* Time options and calendar cells */
.time-option,
.air-datepicker-cell {
  @apply bg-[#e8e8e8] flex items-center justify-center p-4 rounded-lg cursor-pointer transition-colors duration-200 font-bold;
}
.air-datepicker-cell {
  @apply aspect-square p-0;
}

.time-option:has(input[type="radio"]:checked),
.air-datepicker-cell.-selected- {
  @apply bg-neongreen text-primary font-bold;
}

.air-datepicker-cell.-day- {
  @apply text-[#666];
}

.air-datepicker-cell.-day-.-current- {
  @apply text-primary;
}

.air-datepicker-cell.-day-.-selected- {
  @apply bg-neongreen text-primary;
}
.time-option:has(input[type="radio"]:checked):hover,
.air-datepicker-cell.-day-.-selected-:hover {
  @apply bg-neongreen-light;
}

.air-datepicker-cell.-other-month- {
  @apply bg-transparent text-[#7c7c7d];
}

.air-datepicker-cell.-other-month-.-disabled- {
  @apply bg-transparent;
}

/* Hide radio inputs */
.time-option input[type="radio"] {
  @apply hidden;
}

/* Air Datepicker styles */
.air-datepicker {
  @apply bg-white rounded-lg shadow-lg !border-none !w-full max-w-none !text-lg;
}

.air-datepicker--content {
  @apply !p-0;
}

.air-datepicker--buttons {
  border: 0;
  padding: 0;
  display: none;
}

.air-datepicker--cell.-current- {
  color: #000;
  font-weight: 600;
}

.air-datepicker--cell.-disabled- {
  color: #ccc;
  background: none;
  cursor: not-allowed;
}

.air-datepicker--cell.-in-range- {
  background-color: rgba(195, 255, 1, 0.2);
}

.air-datepicker--cell.-range-from- {
  border-radius: 8px 0 0 8px;
}

.air-datepicker--cell.-range-to- {
  border-radius: 0 8px 8px 0;
}

.air-datepicker--cell.-other-month- {
  background: none;
  color: #ccc;
}

.air-datepicker--nav {
  @apply border-b border-gray-200 pb-8 mb-8 px-8;
}

.air-datepicker--nav-title {
  @apply text-3xl font-semibold;
  color: #000;
}

.air-datepicker--nav-action {
  @apply text-gray-600 hover:text-gray-900;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

.air-datepicker--days-names {
  @apply border-b border-gray-200 pb-6 mb-6 px-8;
  
}

.air-datepicker--day-name {
  @apply text-xl font-medium text-gray-600;
}

.air-datepicker--cell-day {
  @apply rounded-lg p-2;
  width: auto;
  height: auto;
  line-height: normal;
  margin: 5px;
  font-size: 1.25rem;
}

.air-datepicker--month-name {
  @apply text-4xl font-medium;
  color: #000;
}

.air-datepicker--year-name {
  @apply text-4xl font-medium;
  color: #000;
}

.air-datepicker--grid {
  margin: 0 -5px;
  padding: 0 8px;
}

.air-datepicker-body--day-name {
  color: #5551ff !important;
  margin: 0;
  height: 40px;
}

.air-datepicker-body--day-names {
  @apply !hidden;
}

.air-datepicker.-inline-.custom-datepicker {
  border: 0;
  font-size: inherit;
  width: 100%;
  max-width: none;
}

.air-datepicker-body--cells.-days- {
  grid-template-columns: repeat(7,1fr) !important;
  grid-auto-rows: auto !important;
  gap: 10px;
  margin-top: 10px
}

/* Form styles */
.form-column {
  @apply flex flex-col gap-0;
}

.form-column-btn {
  @apply mt-4 w-full;
}

.form-column-input {
  @apply w-full h-[62px] px-6 text-sm border border-[#cdcdcd] focus:border-black focus:outline-none rounded-md;
}

.form-column-label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

#reservationForm > index {
  position: absolute;
  opacity: 0;
}